.content {
    margin-left: 300px; /* Adjust for sidebar width */
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.full-size {
    margin-left: 0; /* If full-size, remove margin */
}