.my-profile {
    background-color: #f5f5f5; 
    min-height: calc(100vh - 60px); 
    box-sizing: border-box; 
}

.my-profile h1 {
    color: #34495e; /* Match top bar color */
    text-align: center; /* Center text within the h1 */
    margin-top: 60px;
    font-size: 50px;
}

.my-profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-profile label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

.my-profile input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.my-profile button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.my-profile button:hover {
    background-color: #2980b9;
}

.my-profile p {
    color: #333;
    margin-bottom: 10px;
}