.user-form {
    padding: 10px;
    margin: 20px auto;
    background-color: #ffffff; /* White background for contrast */
    max-width: 500px; /* Limit the maximum width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 4px; /* Slightly rounded corners */
}

.user-form-container h1 {
    color: #2c3e50; /* Darker text color */
    text-align: center;
    margin-top: 20px;
    font-size: 24px; /* Smaller font size */
}

.user-form h4 {
    color: #34495e; /* Match top bar color */
    margin-bottom: 20px;
}

.user-form .MuiTextField-root {
    margin-bottom: 10px;
    width: 100%;
}

.user-form .MuiButton-containedPrimary,
.dialog-actions .MuiButton-containedPrimary {
    background-color: #2980b9; /* Consistent button color */
    color: #ffffff;
    width: 100%; /* Full width for consistency */
    margin-top: 10px; /* Add some spacing */
}

.user-form .MuiButton-containedPrimary:hover,
.dialog-actions .MuiButton-containedPrimary:hover {
    background-color: #1f6391; /* Darker blue on hover */
}
